.img{
    width: 100%;
    height: 400px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.title{
    font-weight: 400;
    text-transform: none;
    text-align: left;
    font-size: 28px;
    line-height: 30px;
    margin: 30px 0px 20px 0px;
    color: #111111;
}

.info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 15px;
    .author{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 30px;
        .icon{
            font-size: 18px;
            color: #acacac;
            margin-right: 5px;
        }
        span{
            font-size: 18px;
            color: #acacac;
        }
    }

    .day{
        display: flex;
        align-items: center;
        justify-content: center;
        .icon{
            font-size: 18px;
            color: #acacac;
            margin-right: 5px;
        }
        span{
            font-size: 18px;
            color: #acacac;
        }
    }
}

.description{
    margin-bottom: 50px;
}